%h1 Nuevo mensaje

.row
  .large-6.columns

    %p Por favor déjenos un mensaje en caso desee contactarse con nosotros

    = render 'form'

    = link_to 'Back', contacts_path

  .large-6.columns
    %h3 Software Bajo Demanda S.A.C.
    %p 
      Av. Sucre 688 - Pueblo Libre
      %br
      Lima - Perú
    %p
      %strong T:
      51 1 7943440