= paginate @posts

- @posts.each do |post|
  
  %h3= link_to post.title, post
  %small
    Publicado el
    = l post.created_at, format: :chico
  %p= truncate_words post.body, link: link_to( "más", post)

