- if target.errors.any?
  .alert-box.alert{:"data-alert"=>""}
    %a.close(href="#") &#215;
    %p
      %strong= pluralize(target.errors.count, "error")
      \:
      = target.errors.full_messages.join(" | ")
