- flash.each do |name, msg|
  %div{ :"data-alert"=>"", :class => "alert-box #{name == :notice ? "success" : "error"}"}
    %a.close(href="#") &#215;
    = content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String)